


 /* Background pattern from Toptal Subtle Patterns */
*{
   margin: 0;
   padding: 0;
}

body{
    
    background-image: url(/assets/footer_lodyas.png);
    
    
}

#App{
    font-size: 12px;
    min-width: 320px;
    background-color: rgb(200,200,200);
    margin: 0 auto;
    max-width: 950px;
    height: 100%;
   
   
}
#logo{
    
    padding-top: 5px;
   
    
   
}
#logo img{
    margin: 0 auto;
    width: 100%;
    max-width: 950px;

    
    
    
}

div.ability{
   display: inline-grid;
    grid-template-columns: auto auto;
    border: 1px black solid;
    
  
}
.ability:nth-of-type(1){
    background-image: url(/assets/letterQ.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    
}
.ability:nth-of-type(2){
    background-image: url(/assets/letterW.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    
}
.ability:nth-of-type(3){
    background-image: url(/assets/letterE.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    
}
.ability:nth-of-type(4){
    background-image: url(/assets/letterR.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    
}


#cooldowns, .wrapper{
    display: grid;
    justify-content: center;
    max-width: 600px;
    grid-template-columns: repeat(4, 23%);
    max-height: 150px;
    margin: 0 auto;
}

.championName {
    grid-column: 1 / 5;
    font-size: 1.5em;
    text-align: center;
    border-top: 1px solid black;
    padding-bottom: 10px;
    
}



.box, .vision {
    overflow: hidden;
    border: 0.5px solid black;
    padding: 5px;
    background-color:rgba(255, 140, 58, 0.9); 
    height: 2em;
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
}

.mana {
    background-color: rgba(74, 226, 255, 0.9);
    
}

.energy{
    background-color: rgba(243, 255, 17, 0.9);
}
.health{
    background-color: rgba(209, 16, 16, 0.9);
}
.otherRsc{
    background-color: rgba(255, 255, 255, 0.9);
}
.noCost{
    background-color: rgba(163, 163, 161, 0.9);
}
.heat{
    background-color: rgba(255, 236, 96, 0.9);
}

#disc, .disc1 {
    grid-column: 1 / 5;
    padding: 2px;
    min-width: 314px;
    
    
    
}

#select{
    padding: 0.2em;
    border-radius: 20px;
    height: 40px;
    margin-top: 2px;
    background-color: rgba(255, 140, 58, 0.9);
    border-color: #000000;
    appearance: none;
    box-shadow: 3px 6px black;
    
}




#search{
    padding: 0.5em;
    box-shadow: 3px 6px black;
    border-radius: 20px;
    border-color:black;
    background-color: rgba(255, 140, 58, 0.9);
}

button{
    
    font-size: 1.5em;
    width: 90%;  
    border-radius: 20px; 
    margin-top: 5px;
    background-color:  rgba(74, 226, 255, 0.9);
    color: white;
    height: 80%;
    padding-bottom: 10px;
    box-shadow: 5px 5px black;
    
}

button:hover{
    background-color: rgba(150, 240, 255, 0.9);
}

button:disabled{
    background-color: gray;

}

button:focus, #select:focus, #search:focus { outline: none; }

.buttonPrompt{
    height: 30px;
    width: 50px;
    background-color: green;
    
}
.prompt{
    border-radius: 20px;
    text-align: center;
    background-color: aqua;
    
    
    
    box-shadow: 5px 5px black;
    margin: 5px;
    padding: 4px;
    
    
}

#control{
    display: grid;
    grid-template-columns: 25% 25% 16% 16% 16%;


}

#cd{
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 5px;
}

#ad{
    position:sticky;
    bottom: 30px;
    height: 50px;
    background-color: greenyellow;
    width: 320px;
    margin: 0 auto;
    opacity: 0;
}
label{
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

label > input{
    cursor: pointer;
    position: absolute;
    opacity: 0;
}




label:hover{
    
    background-color: #b9b9b9;
}

.checked {
    z-index: 1;
    background-color:green;
    color:white;
}

.checked:hover{
    background-color: lightgreen;
}

footer{
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 1px;
    text-align: center;
    

}

footer:first-child{
    padding: 5px;
}

footer div img, footer a img{
    height: 1em;
    width: auto;
    display: inline-block;
}






 @keyframes appear{ 
    0% {top: -100px;
    opacity: 0;}
    100% {top: 0px;
    opacity: 1}
}

.wrapper{
    animation: appear 0.2s;
    position: relative;
    margin-bottom: 50px;
    margin-top: 10px;
   
    
    
    
    
}

@media (min-width: 650px){ 
    #App{
      font-size: 16px;  

}


    #view{
        display: grid;
        grid-template-columns: 50% 50%;
}

    .wrapper{
        width: 100%;
    }
    .prompt{
       grid-column: 1/3;
       min-width: 635px;

    }
    
    
}/* End of media min-width: 650px */

